In [1]:
import cx_Oracle
con=cx_Oracle.connect("system/arpit123@localhost/xe")
cur=con.cursor()
cur.execute("CREATE TABLE Test (Name varchar(20), Roll int(3));")
cur.execute("INSERT INTO Test VALUES ('Arpit','55');")
cur.execute("SELECT * FROM Test;")
print(cur.fetchall())
con.close()

DatabaseError: ORA-00907: missing right parenthesis

In [2]:
import cx_Oracle
con=cx_Oracle.connect("system/arpit123@localhost/xe")
cur=con.cursor()
cur.execute("CREATE TABLE Test (Name varchar(20), Roll int(3));")
cur.execute("INSERT INTO Test VALUES ('Arpit','55');")
cur.execute("SELECT * FROM Test;")
print(cur.fetchall())
con.close()

DatabaseError: ORA-00907: missing right parenthesis

In [22]:
import cx_Oracle
con=cx_Oracle.connect("system/arpit123@localhost/xe")
cur=con.cursor()
cur.execute("CREATE TABLE Test2 (Name varchar(20),Roll int(3))"))
cur.execute("INSERT INTO Test2 VALUES ('Arpit','55');")
cur.execute("SELECT * FROM Test2;")
print(cur.fetchall())
con.commit()
con.close()

SyntaxError: invalid syntax (<ipython-input-22-b0336fb57aec>, line 4)

In [23]:
import cx_Oracle
con=cx_Oracle.connect("system/arpit123@localhost/xe")
cur=con.cursor()
#cur.execute("CREATE TABLE Test(Name VARCHAR(20), Roll INT(3))")
#cur.execute("INSERT INTO Test VALUES ('Arpit','55');")
cur.execute("INSERT INTO Test VALUES('Yash')")
#print(cur.fetchall())
con.commit()
con.close()

In [34]:
import cx_Oracle
con=cx_Oracle.connect("system/arpit123@localhost/xe")
cur=con.cursor() 
#cur.execute("CREATE TABLE Test3 (Name varchar(20), Age int(2))")
cur.execute("INSERT INTO Test2 VALUES ('Arpit')")
cur.execute("SELECT * FROM Test2")
con.commit()
print(cur.fetchall())
con.close()

DatabaseError: ORA-00907: missing right parenthesis